{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post" action="{% url 'predict_species' %}">
    {% csrf_token %}
    <label for="sepal_length">Sepal length:</label>
    <input type="text" name="sepal_length" required><br>
    <label for="sepal_width">Sepal width:</label>
    <input type="text" name="sepal_width" required><br>
    <label for="petal_length">Petal length:</label>
    <input type="text" name="petal_length" required><br>
    <label for="petal_width">Petal width:</label>
    <input type="text" name="petal_width" required><br>
    <input type="submit" value="Predict">
</form>
{% endblock %}

{% block scripts %}
    <!--script src="/static/polls.js"></script-->
{% endblock %}
